<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.live.mapper.LiveServerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.live.entity.LiveServer">
        <id column="Id" property="Id" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="isValid" property="isValid" />
        <result column="createUserId" property="createUserId" />
        <result column="createTime" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Id, name, url, isValid, createUserId, createTime
    </sql>
    <select id="selectList" resultType="com.example.mybatisplus.live.entity.LiveServer">
        SELECT * FROM vm_live_server WHERE name like "%${name}%"
    </select>
</mapper>
